*.m4
*.tar*
Makefile
Makefile.in
autom4te.cache
config.*
configure
install-sh
missing
spectool-*
rpmdev-bumpspec.1
rpmdev-diff.1
rpmdev-extract.1
rpmdev-newinit
rpmdev-newinit.1
rpmdev-newspec
rpmdev-newspec.1
rpmdev-packager.1
rpmdev-rmdevelrpms
rpmdev-rmdevelrpms.8
rpmdevtools.bash-completion
